.sidenav-container {
  @include flexbox(none, none, column);
  position: absolute;
  inset: 0;

  .sidenav-item {
    @include flexbox(none, none, column);
  }

  .mat-list-base {
    padding-top: 0;
  }

  .sidenav-content-container {
    padding: 20px;
  }

  .sidenav {
    flex: 1;
  }
}
