<section class="sidenav-container">
  <mat-sidenav-container class="sidenav" autosize>
    <mat-sidenav [disableClose]="true" class="sidenav-content" mode="side" opened="true">
      <mat-nav-list class="dashboard" [disableRipple]="true">
        <a class="sidenav-item" mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon class="sidenav-icon" mat-list-icon>menu</mat-icon>
          <p class="sidenav-title" matLine *ngIf="isExpanded">Menu</p>
        </a>
        <a class="sidenav-item" mat-list-item [routerLink]="['overview']">
          <mat-icon class="sidenav-icon" mat-list-icon>medication</mat-icon>
          <p class="sidenav-title" matLine *ngIf="isExpanded">Products</p>
        </a>
        <a class="sidenav-item" mat-list-item [routerLink]="['statistics']">
          <mat-icon class="sidenav-icon" mat-list-icon>analytics</mat-icon>
          <p class="sidenav-title" matLine *ngIf="isExpanded">Statistics</p>
        </a>
        <a class="sidenav-item" mat-list-item [routerLink]="['about']">
          <mat-icon class="sidenav-icon" mat-list-icon>info</mat-icon>
          <p class="sidenav-title" matLine *ngIf="isExpanded">About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="sidenav-content-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</section>
