@mixin flexbox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin button($width, $backgroundColor, $color) {
  width: $width;
  background-color: $backgroundColor;
  color: $color;
  outline: none;
}
